[Unit]
Description=Shadowsocks Server
After=network.target

[Service]
ExecStart=/root/ss/shadowsocks-server -c /root/ss/config.json
Restart=always

[Install]
WantedBy=multi-user.target
