[Unit]
Description=Shadowsocks Server
After=network.target

[Service]
ExecStart=/root/go/bin/shadowsocks-server -c /root/config.json
Restart=always

[Install]
WantedBy=multi-user.target
